<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Username</dt>
  <dd><%= @user.username %></dd>

  <dt>Favorite Venues</dt>
  <% @venue.each do |venue| %>
  <dd><%= Dish.find(venue.dish_id).name %> (<%= Venue.find(venue.venue_id).name %>)</dd>
  <% end %>


</dl>
