<div class="page-header">
  <h1>Neighborhood #<%= @neighborhood.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @neighborhood.name %></dd>

  <dt>City</dt>
  <dd><%= @neighborhood.city %></dd>

  <dt>Venues in Neighborhood</dt>
  <% @venue.each do |venue| %>
  <dd><%= Venue.find(venue.id).name %></dd>
  <% end %>


</dl>
